.H1 {
  color: tomato;
  font-size: 1rem;
}

.anh{
 padding-left: 0px;
 padding-right: 0px;
}
.font{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.chitiet{
  font-size: 14px;
  color: dimgray;
}
.tt3{
  font-size: 18px;
  font-weight: 650px;
}
.luuy{
  color: crimson;
}